
html,body{background:#ffffff;margin:10;padding:10;}
div{margin:10;padding:10;}
h1,h2,h3,h4,h5,h6,blockquote{margin:10;}
h1 {text-shadow: 1px 1px #375E97;}
a img{border:none;}
@-ms-viewport{width:device-width;}
@viewport{width:device-width;}
html{overflow-y:auto;}
img,video{max-width:100%;height:auto;}
body{color:#3a3a3a;background:#fff;margin:10;font-family:"colfax-web",sans-serif;font-weight:400;line-height:1.65;font-size:106.3%;}
a{text-decoration:none;color:#FB6542;transition:color 0.2s ease-out;}
a:hover{color:rgba(0,0,0,0.4);}
h1,h2,h3,h4,h5{font-family:"colfax-web",sans-serif;font-weight:500;font-size:1.667em;line-height:1.25em;margin-bottom:0.25em;color:#3a3a3a;}
h5{font-size:1.375em;}
h6{font-size:1em;}
strong,b,h6{font-weight:bold;}
em,i{font-style:italic;}